In [100]:
import pandas as pd
from datetime import datetime
import numpy as np
from sklearn.metrics import plot_confusion_matrix
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from tensorflow import keras 
from sklearn.metrics import mean_squared_error, r2_score
from keras.models import Sequential 
from keras import Input 
from sklearn.metrics import confusion_matrix
import seaborn as sns
import tensorflow as tf
from keras.utils.vis_utils import plot_model
from keras.layers import Dense, SimpleRNN
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.layers import LSTM
from sklearn.metrics import roc_curve,auc,roc_auc_score

In [101]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [102]:
data=pd.read_csv("/content/drive/MyDrive/AIProject/taiyo/Data.csv")
data

,Date,Open,High,Low,Close,Volume,Currency,Name,Country
0,2020-01-01,128.75,128.90,126.85,127.45,2574894,INR,ONGC,India
1,2020-01-02,127.65,128.65,127.10,128.05,4759843,INR,ONGC,India
2,2020-01-03,131.00,133.40,128.05,128.45,31381588,INR,ONGC,India
3,2020-01-06,129.70,129.80,125.10,126.25,14611204,INR,ONGC,India
4,2020-01-07,125.60,127.70,125.40,125.75,7193304,INR,ONGC,India
...,...,...,...,...,...,...,...,...,...
3056,2022-06-10,282.80,285.35,279.00,280.10,7245446,INR,ADAN,India
3057,2022-06-13,269.50,275.50,266.10,266.20,11186749,INR,ADAN,India
3058,2022-06-14,261.60,279.50,261.60,266.65,16393298,INR,ADAN,India
3059,2022-06-15,270.00,275.70,270.00,272.05,7446565,INR,ADAN,India
3060,2022-06-16,280.00,282.55,258.45,259.30,11754891,INR,ADAN,India

In [103]:
data=data.drop(['Currency','Country'],axis=1)
data.head()

         Date    Open    High     Low   Close    Volume  Name
0  2020-01-01  128.75  128.90  126.85  127.45   2574894  ONGC
1  2020-01-02  127.65  128.65  127.10  128.05   4759843  ONGC
2  2020-01-03  131.00  133.40  128.05  128.45  31381588  ONGC
3  2020-01-06  129.70  129.80  125.10  126.25  14611204  ONGC
4  2020-01-07  125.60  127.70  125.40  125.75   7193304  ONGC

In [104]:
data.set_index('Date',drop=True,inplace=True)

In [105]:
data

              Open    High     Low   Close    Volume  Name
Date
2020-01-01  128.75  128.90  126.85  127.45   2574894  ONGC
2020-01-02  127.65  128.65  127.10  128.05   4759843  ONGC
2020-01-03  131.00  133.40  128.05  128.45  31381588  ONGC
2020-01-06  129.70  129.80  125.10  126.25  14611204  ONGC
2020-01-07  125.60  127.70  125.40  125.75   7193304  ONGC
...            ...     ...     ...     ...       ...   ...
2022-06-10  282.80  285.35  279.00  280.10   7245446  ADAN
2022-06-13  269.50  275.50  266.10  266.20  11186749  ADAN
2022-06-14  261.60  279.50  261.60  266.65  16393298  ADAN
2022-06-15  270.00  275.70  270.00  272.05   7446565  ADAN
2022-06-16  280.00  282.55  258.45  259.30  11754891  ADAN

[3061 rows x 6 columns]

In [106]:
data['Name']=data['Name'].replace("ONGC",1)
data['Name']=data['Name'].replace("BPCL",2)
data['Name']=data['Name'].replace("HPCL",3)
data['Name']=data['Name'].replace("GAIL",4)
data['Name']=data['Name'].replace("ADAN",5)

In [107]:
y=data['Close']
X=data.drop('Close',axis=1)

In [108]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [109]:
Mxs=MinMaxScaler()
X_train=Mxs.fit_transform(X_train)
X_test=Mxs.fit_transform(X_test)

In [110]:
X_train.shape[1]

5

In [132]:
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape = (5,1)))
model.add(Dense(units=25,activation='relu',name="hidden-layer"))
model.add(LSTM(units=50))
model.add(Dense(units=25,activation='relu',name="hidden-layer-2"))
model.add(Dense(units=25,activation='relu',name="hidden-layer-3"))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_absolute_error'])

model.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_29 (LSTM)              (None, 5, 50)             10400

 hidden-layer (Dense)        (None, 5, 25)             1275

 lstm_30 (LSTM)              (None, 50)                15200

 hidden-layer-2 (Dense)      (None, 25)                1275

 hidden-layer-3 (Dense)      (None, 25)                650

 dense_20 (Dense)            (None, 1)                 26

=================================================================
Total params: 28,826
Trainable params: 28,826
Non-trainable params: 0
_________________________________________________________________

In [133]:
model.fit(X_train, y_train, epochs=100, verbose=1)

Epoch 1/100
67/67 [==============================] - 5s 15ms/step - loss: 46885.3633 - mean_absolute_error: 181.0007
Epoch 2/100
67/67 [==============================] - 1s 10ms/step - loss: 23830.2207 - mean_absolute_error: 114.3579
Epoch 3/100
67/67 [==============================] - 1s 8ms/step - loss: 14062.9756 - mean_absolute_error: 100.4550
Epoch 4/100
67/67 [==============================] - 1s 9ms/step - loss: 5285.9038 - mean_absolute_error: 45.5958
Epoch 5/100
67/67 [==============================] - 1s 9ms/step - loss: 705.5273 - mean_absolute_error: 16.6623
Epoch 6/100
67/67 [==============================] - 1s 8ms/step - loss: 194.4422 - mean_absolute_error: 9.4558
Epoch 7/100
67/67 [==============================] - 1s 8ms/step - loss: 82.2685 - mean_absolute_error: 6.3032
Epoch 8/100
67/67 [==============================] - 1s 9ms/step - loss: 41.4636 - mean_absolute_error: 4.2873
Epoch 9/100
67/67 [==============================] - 1s 8ms/step - loss: 27.1771 - mean_absolute_error: 3.4043
Epoch 10/100
67/67 [==============================] - 1s 9ms/step - loss: 23.1990 - mean_absolute_error: 3.2241
Epoch 11/100
67/67 [==============================] - 1s 9ms/step - loss: 22.2489 - mean_absolute_error: 3.2341
Epoch 12/100
67/67 [==============================] - 1s 9ms/step - loss: 21.2843 - mean_absolute_error: 3.1614
Epoch 13/100
67/67 [==============================] - 1s 9ms/step - loss: 22.2473 - mean_absolute_error: 3.2872
Epoch 14/100
67/67 [==============================] - 1s 9ms/step - loss: 21.1524 - mean_absolute_error: 3.2020
Epoch 15/100
67/67 [==============================] - 1s 9ms/step - loss: 19.5187 - mean_absolute_error: 3.0528
Epoch 16/100
67/67 [==============================] - 1s 9ms/step - loss: 20.7977 - mean_absolute_error: 3.2631
Epoch 17/100
67/67 [==============================] - 1s 9ms/step - loss: 19.3016 - mean_absolute_error: 3.1203
Epoch 18/100
67/67 [==============================] - 1s 9ms/step - loss: 18.5324 - mean_absolute_error: 2.9927
Epoch 19/100
67/67 [==============================] - 1s 8ms/step - loss: 21.2377 - mean_absolute_error: 3.2853
Epoch 20/100
67/67 [==============================] - 1s 9ms/step - loss: 21.2811 - mean_absolute_error: 3.3152
Epoch 21/100
67/67 [==============================] - 1s 10ms/step - loss: 18.7520 - mean_absolute_error: 2.9744
Epoch 22/100
67/67 [==============================] - 1s 14ms/step - loss: 18.8350 - mean_absolute_error: 3.0331
Epoch 23/100
67/67 [==============================] - 1s 18ms/step - loss: 21.3037 - mean_absolute_error: 3.3758
Epoch 24/100
67/67 [==============================] - 1s 18ms/step - loss: 18.4163 - mean_absolute_error: 2.9858
Epoch 25/100
67/67 [==============================] - 1s 15ms/step - loss: 17.9140 - mean_absolute_error: 2.9564
Epoch 26/100
67/67 [==============================] - 1s 15ms/step - loss: 20.7094 - mean_absolute_error: 3.2641
Epoch 27/100
67/67 [==============================] - 1s 9ms/step - loss: 21.7052 - mean_absolute_error: 3.3306
Epoch 28/100
67/67 [==============================] - 1s 9ms/step - loss: 23.5816 - mean_absolute_error: 3.5549
Epoch 29/100
67/67 [==============================] - 1s 9ms/step - loss: 20.4443 - mean_absolute_error: 3.2363
Epoch 30/100
67/67 [==============================] - 1s 9ms/step - loss: 16.1435 - mean_absolute_error: 2.7782
Epoch 31/100
67/67 [==============================] - 1s 9ms/step - loss: 19.3216 - mean_absolute_error: 3.1314
Epoch 32/100
67/67 [==============================] - 1s 9ms/step - loss: 21.9297 - mean_absolute_error: 3.3968
Epoch 33/100
67/67 [==============================] - 1s 8ms/step - loss: 17.9673 - mean_absolute_error: 2.9161
Epoch 34/100
67/67 [==============================] - 1s 9ms/step - loss: 18.4355 - mean_absolute_error: 3.0069
Epoch 35/100
67/67 [==============================] - 1s 9ms/step - loss: 17.9831 - mean_absolute_error: 2.9219
Epoch 36/100
67/67 [==============================] - 1s 9ms/step - loss: 17.0217 - mean_absolute_error: 2.8855
Epoch 37/100
67/67 [==============================] - 1s 9ms/step - loss: 19.7435 - mean_absolute_error: 3.1461
Epoch 38/100
67/67 [==============================] - 1s 9ms/step - loss: 16.3347 - mean_absolute_error: 2.7799
Epoch 39/100
67/67 [==============================] - 1s 9ms/step - loss: 17.1573 - mean_absolute_error: 2.8473
Epoch 40/100
67/67 [==============================] - 1s 9ms/step - loss: 16.5102 - mean_absolute_error: 2.8271
Epoch 41/100
67/67 [==============================] - 1s 9ms/step - loss: 22.7367 - mean_absolute_error: 3.4695
Epoch 42/100
67/67 [==============================] - 1s 9ms/step - loss: 17.7489 - mean_absolute_error: 2.9232
Epoch 43/100
67/67 [==============================] - 1s 9ms/step - loss: 20.7468 - mean_absolute_error: 3.2623
Epoch 44/100
67/67 [==============================] - 1s 9ms/step - loss: 16.8934 - mean_absolute_error: 2.8702
Epoch 45/100
67/67 [==============================] - 1s 9ms/step - loss: 18.1435 - mean_absolute_error: 2.9768
Epoch 46/100
67/67 [==============================] - 1s 9ms/step - loss: 18.5553 - mean_absolute_error: 2.9895
Epoch 47/100
67/67 [==============================] - 1s 9ms/step - loss: 22.9032 - mean_absolute_error: 3.4779
Epoch 48/100
67/67 [==============================] - 1s 9ms/step - loss: 17.2630 - mean_absolute_error: 2.8351
Epoch 49/100
67/67 [==============================] - 1s 9ms/step - loss: 18.5197 - mean_absolute_error: 2.9898
Epoch 50/100
67/67 [==============================] - 1s 9ms/step - loss: 20.4370 - mean_absolute_error: 3.2403
Epoch 51/100
67/67 [==============================] - 1s 9ms/step - loss: 18.4527 - mean_absolute_error: 2.9809
Epoch 52/100
67/67 [==============================] - 1s 8ms/step - loss: 17.5734 - mean_absolute_error: 2.9027
Epoch 53/100
67/67 [==============================] - 1s 9ms/step - loss: 18.3668 - mean_absolute_error: 3.0535
Epoch 54/100
67/67 [==============================] - 1s 9ms/step - loss: 19.2053 - mean_absolute_error: 3.0580
Epoch 55/100
67/67 [==============================] - 1s 9ms/step - loss: 15.6569 - mean_absolute_error: 2.7191
Epoch 56/100
67/67 [==============================] - 1s 8ms/step - loss: 15.6353 - mean_absolute_error: 2.6670
Epoch 57/100
67/67 [==============================] - 1s 9ms/step - loss: 18.4281 - mean_absolute_error: 3.0239
Epoch 58/100
67/67 [==============================] - 1s 9ms/step - loss: 17.3206 - mean_absolute_error: 2.8569
Epoch 59/100
67/67 [==============================] - 1s 9ms/step - loss: 18.9089 - mean_absolute_error: 3.0065
Epoch 60/100
67/67 [==============================] - 1s 9ms/step - loss: 18.5766 - mean_absolute_error: 3.0299
Epoch 61/100
67/67 [==============================] - 1s 9ms/step - loss: 16.8540 - mean_absolute_error: 2.8407
Epoch 62/100
67/67 [==============================] - 1s 9ms/step - loss: 18.4033 - mean_absolute_error: 2.9906
Epoch 63/100
67/67 [==============================] - 1s 9ms/step - loss: 17.5212 - mean_absolute_error: 2.9073
Epoch 64/100
67/67 [==============================] - 1s 9ms/step - loss: 17.5320 - mean_absolute_error: 2.9347
Epoch 65/100
67/67 [==============================] - 1s 9ms/step - loss: 16.6819 - mean_absolute_error: 2.8311
Epoch 66/100
67/67 [==============================] - 1s 9ms/step - loss: 17.4713 - mean_absolute_error: 2.8902
Epoch 67/100
67/67 [==============================] - 1s 9ms/step - loss: 18.7275 - mean_absolute_error: 2.9732
Epoch 68/100
67/67 [==============================] - 1s 9ms/step - loss: 16.0367 - mean_absolute_error: 2.7577
Epoch 69/100
67/67 [==============================] - 1s 9ms/step - loss: 20.9880 - mean_absolute_error: 3.3069
Epoch 70/100
67/67 [==============================] - 1s 9ms/step - loss: 17.1950 - mean_absolute_error: 2.8821
Epoch 71/100
67/67 [==============================] - 1s 9ms/step - loss: 18.9766 - mean_absolute_error: 3.0886
Epoch 72/100
67/67 [==============================] - 1s 9ms/step - loss: 17.5640 - mean_absolute_error: 2.9591
Epoch 73/100
67/67 [==============================] - 1s 9ms/step - loss: 16.2175 - mean_absolute_error: 2.7509
Epoch 74/100
67/67 [==============================] - 1s 9ms/step - loss: 19.3166 - mean_absolute_error: 3.0834
Epoch 75/100
67/67 [==============================] - 1s 9ms/step - loss: 17.6370 - mean_absolute_error: 3.0054
Epoch 76/100
67/67 [==============================] - 1s 9ms/step - loss: 17.1025 - mean_absolute_error: 2.8736
Epoch 77/100
67/67 [==============================] - 1s 9ms/step - loss: 16.7219 - mean_absolute_error: 2.9235
Epoch 78/100
67/67 [==============================] - 1s 9ms/step - loss: 18.2815 - mean_absolute_error: 2.9670
Epoch 79/100
67/67 [==============================] - 1s 10ms/step - loss: 19.9257 - mean_absolute_error: 3.2130
Epoch 80/100
67/67 [==============================] - 1s 9ms/step - loss: 18.6434 - mean_absolute_error: 2.9501
Epoch 81/100
67/67 [==============================] - 1s 9ms/step - loss: 20.8661 - mean_absolute_error: 3.2503
Epoch 82/100
67/67 [==============================] - 1s 9ms/step - loss: 18.6171 - mean_absolute_error: 3.0407
Epoch 83/100
67/67 [==============================] - 1s 9ms/step - loss: 19.8926 - mean_absolute_error: 3.1531
Epoch 84/100
67/67 [==============================] - 1s 9ms/step - loss: 20.3103 - mean_absolute_error: 3.1924
Epoch 85/100
67/67 [==============================] - 1s 9ms/step - loss: 18.1193 - mean_absolute_error: 2.9842
Epoch 86/100
67/67 [==============================] - 1s 9ms/step - loss: 15.6043 - mean_absolute_error: 2.7061
Epoch 87/100
67/67 [==============================] - 1s 9ms/step - loss: 17.0803 - mean_absolute_error: 2.8829
Epoch 88/100
67/67 [==============================] - 1s 9ms/step - loss: 15.5732 - mean_absolute_error: 2.7381
Epoch 89/100
67/67 [==============================] - 1s 9ms/step - loss: 19.0046 - mean_absolute_error: 3.0802
Epoch 90/100
67/67 [==============================] - 1s 9ms/step - loss: 17.1983 - mean_absolute_error: 2.8632
Epoch 91/100
67/67 [==============================] - 1s 8ms/step - loss: 17.1792 - mean_absolute_error: 2.9287
Epoch 92/100
67/67 [==============================] - 1s 9ms/step - loss: 15.8789 - mean_absolute_error: 2.7840
Epoch 93/100
67/67 [==============================] - 1s 9ms/step - loss: 19.1173 - mean_absolute_error: 3.1099
Epoch 94/100
67/67 [==============================] - 1s 9ms/step - loss: 16.5457 - mean_absolute_error: 2.8106
Epoch 95/100
67/67 [==============================] - 1s 8ms/step - loss: 17.7141 - mean_absolute_error: 2.9785
Epoch 96/100
67/67 [==============================] - 1s 9ms/step - loss: 17.9387 - mean_absolute_error: 3.0440
Epoch 97/100
67/67 [==============================] - 1s 9ms/step - loss: 16.4377 - mean_absolute_error: 2.7977
Epoch 98/100
67/67 [==============================] - 1s 8ms/step - loss: 18.3672 - mean_absolute_error: 3.1379
Epoch 99/100
67/67 [==============================] - 1s 9ms/step - loss: 17.9171 - mean_absolute_error: 3.0620
Epoch 100/100
67/67 [==============================] - 1s 9ms/step - loss: 16.7850 - mean_absolute_error: 2.9522

In [134]:
pred_train = model.predict(X_train)
pred_test = model.predict(X_test)

In [136]:
y_train=np.array(y_train)
y_test=np.array(y_test)

## METRICS

In [138]:
print("r2 score over TRAIN data: "+str(r2_score(y_train,pred_train)))
print("r2 score over TEST data: "+str(r2_score(y_test,pred_test)))

r2 score over TRAIN data: 0.9987719597085768
r2 score over TEST data: 0.9978567444018928

In [139]:
print("MEAN SQUARED ERROR score over TRAIN data: "+str(mean_squared_error(y_train,pred_train)))
print("MEAN SQUARED ERROR score over TEST data: "+str(mean_squared_error(y_test,pred_test)))

MEAN SQUARED ERROR score over TRAIN data: 17.31584521960877
MEAN SQUARED ERROR score over TEST data: 29.389516563569682